// Color
$main-colors: (
    green: #009700,    
    light-green: #53c940,
    dark-green: #006700,
    blue: #008AFF,
    light-blue: #69b9ff,
    dark-blue: #005ecb,
    red: #EB4700,
    light-red: #e7494c,
    dark-red: #b00000,
    orange: #ff7a39,
    dark: #062331,
    light: #e5eef5,
    white: white,
);

@function mainColors($color-name){
    @return map-get($main-colors, $color-name);
};

$gradient: (
    gradient-1: linear-gradient(125deg, #53c940, #00ac95),
    gradient-2: linear-gradient(125deg, #00CFEE, #008AFF)
);

@function gradientColors($color-name){
    @return map-get($gradient, $color-name );
};

$grey-colors: (
    dark-1: #062331,
    dark-2: #2F4858,
    dark-3: #516A7B,
    grey: #748EA0,
    light-1: #99B3C6,
    light-2: #C0DAEE
);

@function greyColors($color-name){
    @return map-get($grey-colors, $color-name );
};

$text-colors:(
    dark: #222222,
    grey: #4A4A4A,
    light: #fff 
);

@function textColors($color-name){
    @return map-get($text-colors, $color-name);
};

// Typography
$font-family:(
    poppins-semibold: 'Poppins-SemiBold',
    poppins-regular: 'Poppins-Regular',
    roboto-regular: 'Roboto-Regular',
    roboto-medium: 'Roboto-Medium'
);

@function fontFamily($font){
    @return map-get($font-family, $font );
};

$font-size: (
    h1: 46px,
    h2: 38px,
    h3: 28px,
    h4: 20px,
    h5: 18px,
    h6: 16px,
    p: 16px,
);

@function fontSize($size){
    @return map-get($font-size, $size );
};

h1{
    font-family: fontFamily(poppins-semibold);
    font-size: fontSize(h1);
}
h2{
    font-family: fontFamily(poppins-semibold);
    font-size: fontSize(h2);
}
h3{
    font-family: fontFamily(poppins-semibold);
    font-size: fontSize(h3);
}
h4{
    font-family: fontFamily(poppins-regular);
    font-size: fontSize(h4);
}
h5{
    font-family: fontFamily(poppins-semibold);
    font-size: fontSize(h5);
}
h6{
    font-family: fontFamily(poppins-semibold);
    font-size: fontSize(h6);
}
p{
    font-family: fontFamily(roboto-regular);
    font-size: fontSize(p);
}

// Button
$button: (
    primary: mainColors(light-green),
    secondary: greyColors(grey),
    danger: mainColors(red),
    info: mainColors(blue),
    dark: mainColors(dark),
    light: mainColors(light),
    white: mainColors(white)
);

@function button($name){
    @return map-get($button, $name)
};

@function btnShadow($name){
    @return -1.3px 1.5px 6px 0 rgba(button($name), 0.4),
};

.btn{
    text-transform: uppercase;
}

// Button Primary
.btn-primary{
    background-color: button(primary);
    border-color: button(primary);
    box-shadow: btnShadow(primary);
    &:hover{
        background-color: darken(button(primary), 5%);
        border-color: darken(button(primary), 5%);
    }
    &:not(:disabled):not(.disabled):active, .show>.btn-primary.btn-primary.dropdown-toggle{
        background-color: darken(button(primary), 5%);
        border-color: darken(button(primary), 5%);
    }
}

.btn-outline-primary{
    border-color: button(primary);
    color: button(primary);
    &:hover{
        background-color: button(primary);
        border-color: button(primary);
        box-shadow: btnShadow(primary);
    }
    &:not(:disabled):not(.disabled):active, .show>.btn-primary.btn-primary.dropdown-toggle{
        background-color: button(primary);
        border-color: button(primary);
        box-shadow: btnShadow(primary);
    }
}

// Button Secondary
.btn-secondary{
    background-color: button(secondary);
    border-color: button(secondary);
    box-shadow: btnShadow(secondary);
    &:hover{
        background-color: darken(button(secondary), 5%);
        border-color: darken(button(secondary), 5%);
    }
    &:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
        background-color: darken(button(secondary), 5%);
        border-color: darken(button(secondary), 5%);
    }
}

.btn-outline-secondary{
    border-color: button(secondary);
    color: button(secondary);
    &:hover{
        background-color: button(secondary);
        border-color: button(secondary);
        box-shadow: btnShadow(secondary);
    }
    &:not(:disabled):not(.disabled):active, .show>.btn-primary.btn-primary.dropdown-toggle{
        background-color: button(secondary);
        border-color: button(secondary);
        box-shadow: btnShadow(secondary);
    }
}

// Button Danger
.btn-danger{
    background-color: button(danger);
    border-color: button(danger);
    box-shadow: btnShadow(danger);
    &:hover{
        background-color: darken(button(danger), 5%);
        border-color: darken(button(danger), 5%);
    }
    &:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
        background-color: darken(button(danger), 5%);
        border-color: darken(button(danger), 5%);
    }
}

.btn-outline-danger{
    border-color: button(danger);
    color: button(danger);
    &:hover{
        background-color: button(danger);
        border-color: button(danger);
        box-shadow: btnShadow(danger);
    }
    &:not(:disabled):not(.disabled):active, .show>.btn-primary.btn-primary.dropdown-toggle{
        background-color: button(danger);
        border-color: button(danger);
        box-shadow: btnShadow(danger);
    }
}

// Button Info
.btn-info{
    background-color: button(Info);
    border-color: button(Info);
    box-shadow: btnShadow(info);
    &:hover{
        background-color: darken(button(info), 5%);
        border-color: darken(button(info), 5%);
    }
    &:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
        background-color: darken(button(info), 5%);
        border-color: darken(button(info), 5%);
    }
}

.btn-outline-info{
    border-color: button(info);
    color: button(info);
    &:hover{
        background-color: button(info);
        border-color: button(info);
        box-shadow: btnShadow(info);
    }
    &:not(:disabled):not(.disabled):active, .show>.btn-primary.btn-primary.dropdown-toggle{
        background-color: button(secondary);
        border-color: button(secondary);
        box-shadow: btnShadow(info);
    }
}

// Button Dark
.btn-dark{
    background-color: button(dark);
    border-color: button(dark);
    box-shadow: btnShadow(dark);
    &:hover{
        background-color: darken(button(dark), 5%);
        border-color: darken(button(dark), 5%);
    }
    &:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
        background-color: darken(button(dark), 5%);
        border-color: darken(button(dark), 5%);
    }
}

.btn-outline-dark{
    border-color: button(dark);
    color: button(dark);
    &:hover{
        background-color: button(dark);
        border-color: button(dark);
        box-shadow: btnShadow(dark);
    }
    &:not(:disabled):not(.disabled):active, .show>.btn-primary.btn-primary.dropdown-toggle{
        background-color: button(dark);
        border-color: button(dark);
        box-shadow: btnShadow(dark);
    }
}

// Button Light
.btn-light{
    background-color: button(light);
    color: black;
    border-color: button(light);
    box-shadow: btnShadow(light);
    &:hover{
        background-color: darken(button(light), 5%);
        border-color: darken(button(light), 5%);
    }
    &:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
        background-color: darken(button(light), 5%);
        border-color: darken(button(light), 5%);
    }
}

.btn-outline-light{
    border-color: button(light);
    color: button(light);
    &:hover{
        background-color: button(light);
        border-color: button(light);
        color: black;
        box-shadow: btnShadow(light);
    }
    &:not(:disabled):not(.disabled):active, .show>.btn-primary.btn-primary.dropdown-toggle{
        background-color: button(light);
        border-color: button(light);
        box-shadow: btnShadow(light);
    }
}


// Form Input
.form-control{
    font-family: fontFamily(roboto-regular);
    color: textColors(grey) !important;
    padding: 10px 12px !important;
    height: 100% !important;
    &:focus{
        border-color: rgba(50,151,211,.25) !important;
        box-shadow: none !important;
        color: textColors(grey) !important;
    }&::placeholder{
        color: rgba(textColors(grey), .5) !important;
    } 
}




// .form-group{
//     .form-control{
//         font-size: 16px;
//         color: textColors(grey);
//         border: 1px solid #cad1d7;
//         padding: .625rem .75rem;
//         border-radius: .25rem;
//         &:focus{
//             border-color: rgba(50,151,211,.25);
//         }
//     }
// }

